body {
  background-image: linear-gradient(
    to left,
    rgb(218, 31, 31),
    rgb(109, 31, 31)
  );
}
main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 4rem;
  font-weight: 400;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.interval-container {
  display: flex;
  margin: 0 40px;
  align-items: center;
}

.break-session-container {
  display: flex;
}

button {
  padding: 5px 12px;
  margin: 0 10px;
  height: 25px;
  border: 1px solid black;
  background-color: rgb(92, 36, 27);
  border: 1px solid black;
  color: white;
}

.interval-text {
  font-size: 2rem;
  margin: 0 10px;
}

.timer-container {
  border: 2px solid #263646;
  margin-top: 60px;
  background-color: white;
  border-radius: 25px;
  border-color: black;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 4px black;
  padding: 10px;
  margin: 0 auto;
}

.timer-card {
  margin-top: 40px;
}

.timer {
  font-size: 1.5rem;
}

.timer-actions {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.clock-card {
  background-image: linear-gradient(
    to left,
    rgb(228, 72, 72),
    rgb(109, 31, 31)
  );
  border: 5px solid black;
}
